In [2]:
# !pip install scikit-learn     # ModuleImportError al instalarlo por conda

Collecting scikit-learn
  Obtaining dependency information for scikit-learn from https://files.pythonhosted.org/packages/bd/7e/52676c85bab788e0cb87b58e11ab53ba08e590c0db30642dd3222b702c73/scikit_learn-1.4.0-1-cp310-cp310-win_amd64.whl.metadata
  Downloading scikit_learn-1.4.0-1-cp310-cp310-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\tete1\miniconda3\envs\jupyter_env\lib\site-packages (from scikit-learn) (1.25.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\tete1\miniconda3\envs\jupyter_env\lib\site-packages (from scikit-learn) (1.12.0)
Collecting joblib>=1.2.0 (from scikit-learn)
  Obtaining dependency information for joblib>=1.2.0 from https://files.pythonhosted.org/packages/10/40/d551139c85db202f1f384ba8bcf96aca2f329440a844f924c8a0040b6d02/joblib-1.3.2-py3-none-any.whl.metadata
  Downloading joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Obtaining dependency information for threadpoolctl>=2.0.0 from https://files.pythonhosted.org/packages/81/12/fd4dea011af9d69e1cad05c75f3f7202cdcbeac9b712eea58ca779a72865/threadpoolctl-3.2.0-py3-none-any.whl.metadata
  Downloading threadpoolctl-3.2.0-py3-none-any.whl.metadata (10.0 kB)
Downloading scikit_learn-1.4.0-1-cp310-cp310-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   - -------------------------------------- 0.3/10.6 MB 4.5 MB/s eta 0:00:03
   ----- ---------------------------------- 1.5/10.6 MB 15.6 MB/s eta 0:00:01
   ---------- ----------------------------- 2.9/10.6 MB 20.6 MB/s eta 0:00:01
   ----------------- ---------------------- 4.7/10.6 MB 25.0 MB/s eta 0:00:01
   ------------------------ --------------- 6.5/10.6 MB 27.7 MB/s eta 0:00:01
   ------------------------------ --------- 8.2/10.6 MB 29.0 MB/s eta 0:00:01
   ------------------------------------- -- 10.0/10.6 MB 30.3 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 36.3 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 36.3 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 26.2 MB/s eta 0:00:00
Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
   ---------------------------------------- 0.0/302.2 kB ? eta -:--:--
   ---------------------------------------- 302.2/302.2 kB ? eta 0:00:00
Downloading threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.4.0 threadpoolctl-3.2.0

In [3]:
# imports
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler

In [22]:
data = pd.read_csv('./iris-data.csv')

In [23]:
data.head()

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal_length_cm  150 non-null    float64
 1   sepal_width_cm   150 non-null    float64
 2   petal_length_cm  150 non-null    float64
 3   petal_width_cm   145 non-null    float64
 4   class            150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [25]:
# 5 nulos en la columna petal_leght_cm >> mejor cargase esas filas

In [26]:
data = data.dropna()

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 145 entries, 0 to 149
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal_length_cm  145 non-null    float64
 1   sepal_width_cm   145 non-null    float64
 2   petal_length_cm  145 non-null    float64
 3   petal_width_cm   145 non-null    float64
 4   class            145 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.8+ KB

In [28]:
# Columna class es object > Transformar a n√∫mero

In [29]:
data['class'].value_counts()

class
Iris-virginica     50
Iris-versicolor    45
Iris-setosa        44
versicolor          5
Iris-setossa        1
Name: count, dtype: int64

In [30]:
'''
Homogeneizar valores:
  - Iris-virginica (50)
  - Iris-versicolor (45) == versicolor (5)
  - Iris-setosa (44) == Iris-setossa (1)

'''

'\nHomogeneizar valores:\n  - Iris-virginica (50)\n  - Iris-versicolor (45) == versicolor (5)\n  - Iris-setosa (44) == Iris-setossa (1)\n\n'

In [34]:
data['class'] = data['class'].replace(['versicolor', 'Iris-setossa'], ['Iris-versicolor', 'Iris-setosa'])

In [35]:
data['class'].value_counts()

class
Iris-versicolor    50
Iris-virginica     50
Iris-setosa        45
Name: count, dtype: int64

In [36]:
data.head()

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [37]:
# Now: One-hot encoding para la colum de class

In [39]:
iris_one_hot_encoding = pd.get_dummies(data['class'], drop_first=True, dtype=float)
iris_one_hot_encoding

     Iris-versicolor  Iris-virginica
0                0.0             0.0
1                0.0             0.0
2                0.0             0.0
3                0.0             0.0
4                0.0             0.0
..               ...             ...
145              0.0             1.0
146              0.0             1.0
147              0.0             1.0
148              0.0             1.0
149              0.0             1.0

[145 rows x 2 columns]

In [41]:
# Concat de los dos dataframes y eliminar la columna original de class

In [42]:
df_prep = pd.concat([data, iris_one_hot_encoding], axis=1)    # Concatear los dos DF a√±adiendo columnas

In [43]:
df_prep

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class,Iris-versicolor,Iris-virginica
0,5.1,3.5,1.4,0.2,Iris-setosa,0.0,0.0
1,4.9,3.0,1.4,0.2,Iris-setosa,0.0,0.0
2,4.7,3.2,1.3,0.2,Iris-setosa,0.0,0.0
3,4.6,3.1,1.5,0.2,Iris-setosa,0.0,0.0
4,5.0,3.6,1.4,0.2,Iris-setosa,0.0,0.0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,0.0,1.0
146,6.3,2.5,5.0,2.3,Iris-virginica,0.0,1.0
147,6.5,3.0,5.2,2.0,Iris-virginica,0.0,1.0
148,6.2,3.4,5.4,2.3,Iris-virginica,0.0,1.0
149,5.9,3.0,5.1,1.8,Iris-virginica,0.0,1.0

In [48]:
df_prep = df_prep.drop(['class'], axis=1)            # Eliminar la columna class

In [50]:
df_prep

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,Iris-versicolor,Iris-virginica
0,5.1,3.5,1.4,0.2,0.0,0.0
1,4.9,3.0,1.4,0.2,0.0,0.0
2,4.7,3.2,1.3,0.2,0.0,0.0
3,4.6,3.1,1.5,0.2,0.0,0.0
4,5.0,3.6,1.4,0.2,0.0,0.0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0.0,1.0
146,6.3,2.5,5.0,2.3,0.0,1.0
147,6.5,3.0,5.2,2.0,0.0,1.0
148,6.2,3.4,5.4,2.3,0.0,1.0
149,5.9,3.0,5.1,1.8,0.0,1.0

In [49]:
df_prep.info()

<class 'pandas.core.frame.DataFrame'>
Index: 145 entries, 0 to 149
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal_length_cm  145 non-null    float64
 1   sepal_width_cm   145 non-null    float64
 2   petal_length_cm  145 non-null    float64
 3   petal_width_cm   145 non-null    float64
 4   Iris-versicolor  145 non-null    float64
 5   Iris-virginica   145 non-null    float64
dtypes: float64(6)
memory usage: 7.9 KB

In [51]:
# Feature Scaling

In [52]:
df_prep.describe()

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,Iris-versicolor,Iris-virginica
count,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000
mean,5.670303,3.046207,3.836552,1.236552,0.344828,0.344828
std,1.326540,0.435096,1.742955,0.755058,0.476960,0.476960
min,0.055000,2.000000,1.000000,0.100000,0.000000,0.000000
25%,5.100000,2.800000,1.600000,0.400000,0.000000,0.000000
50%,5.800000,3.000000,4.400000,1.300000,0.000000,0.000000
75%,6.400000,3.300000,5.100000,1.800000,1.000000,1.000000
max,7.900000,4.400000,6.900000,2.500000,1.000000,1.000000

In [53]:
# En realidad todo est√° en la misma dimension, ¬øno har√≠a falta escalarlo?