# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
# import libraries
import pandas as pd
import numpy as np

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import data set from Ironhack's database
df = pd.read_csv('../data/Pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [13]:
# your code here
df.head(10)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [8]:
# your code here
type1 = df['Type 1'].unique().tolist()   # Obtener el listado de valores Ãºnicos de la colum 'Type' +
type2 = df['Type 2'].unique().tolist()   # .tolist para incluirlo en una lista
print(type1)
print(type(type1))
print(type2)                             # Existen nan.

['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric', 'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice', 'Dragon', 'Dark', 'Steel', 'Flying']
<class 'list'>
['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass', 'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water', 'Electric', 'Fire', 'Ghost', 'Bug', 'Normal']

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [3]:
# your code here

df_bis = df.copy()   # Pruebo con una copia, como funciona modifico sobre el df. original 

"""# test transformed data
pokemon.head(10)    # No va a funcionar porque mi df se llama df y no pokemon, pero termino con un df.head(10)
"""

'# test transformed data\npokemon.head(10)    # No va a funcionar porque mi df se llama df y no pokemon, pero termino con un df.head(10)\n'

In [3]:
def clean_name(name): 
    new_name = []
    if 'Mega' in name:
        parts = name.split('Mega')
        new_name = 'Mega' + parts[1]
        return new_name
    else:
        return name

In [4]:
df['Name'] = df['Name'].apply(clean_name)

In [5]:
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [20]:
df["A/D Ratio"] = df.apply(lambda row: (row.Attack / row.Defense), axis=1)
# Aplica la funciÃ³n lamba a cada fila, asignando el resultado a la colum 'A/D Ratio' por la definiciÃ³n tb del axis=1

In [23]:
df_bis["A/D Ratio"] = df_bis.apply(lambda row: (row.Attack / row.Defense), axis=1)

In [24]:
df_bis.head()

,#,Name,type_1,type_2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo_type,Combi_type,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass Poison,Grass-Poison,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass Poison,Grass-Poison,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass Poison,Grass-Poison,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass Poison,Grass-Poison,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN,Fire,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [115]:
# your code here
maxi_ratio = df['A/D Ratio'].idxmax()      # Primero identifico cuÃ¡l es el max y lo incluyo dentro de una variable
top_pokemon = df.at[maxi_ratio, 'Name']    # MÃ©todo .iat (con Ã­ndices) y .at accede al valor especÃ­fico de la 
                                           # fila y columa por etiqueta. AquÃ­ le digo que acceda, segÃºn maxi_ratio al nombre
    
print(top_pokemon)

DeoxysAttack Forme

In [12]:
df.loc[df['A/D Ratio']>=9.0]              # VersiÃ³n rÃ¡pida. Como sÃ© que el mÃ¡x de A/D Ratio es 9.0 le digo que 
                                          # localice todas las filas donde A/D Ratio sea mayor o igual a 9.0

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [116]:
# your code here
mini_ratio = df['A/D Ratio'].idxmin()
mini_pokemon = df.at[mini_ratio, 'Name']
print(mini_pokemon)

Shuckle

In [16]:
df.loc[df['A/D Ratio']<=0.043478260869565216]    # VersiÃ³n rÃ¡pida en versiÃ³n mÃ­nimo.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [4]:
# your code here
df_bis.rename(columns={'Type 1': 'type_1' }, inplace=True)
df_bis.rename(columns={'Type 2': 'type_2' }, inplace=True)   # Renombrar las columnas eliminando los espacios porque me daba error

In [5]:
df_bis.head()

,#,Name,type_1,type_2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [8]:
df_bis['Combo_type'] = df_bis.type_1 + ' ' + df_bis.type_2    # Pendiente
df_bis.head()

,#,Name,type_1,type_2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo_type,Combi_type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass Poison,
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass Poison,
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass Poison,
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass Poison,
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN,

In [14]:
df_bis['Combi_type'] = ' '

def combine_type(row):
    if pd.notna(row['type_2']):
        return row['type_1'] + '-' + row['type_2']
    else:
        return row['type_1']

In [15]:
df_bis['Combi_type'] = df_bis.apply(combine_type, axis=1)

In [16]:
df_bis.head()

,#,Name,type_1,type_2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo_type,Combi_type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass Poison,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass Poison,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass Poison,Grass-Poison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass Poison,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN,Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [25]:
# your code here >>> NO FUNCIONA
df_bis['A/D Ratio'] = df_bis['A/D Ratio'].rank()    # Haces la clasificaciÃ³n de A/D Ratio ordenado
df_bis.head(5)                                      # Muestras los 5 primeros.

,#,Name,type_1,type_2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo_type,Combi_type,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass Poison,Grass-Poison,333.0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass Poison,Grass-Poison,296.0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass Poison,Grass-Poison,297.0
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass Poison,Grass-Poison,190.0
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN,Fire,478.5

In [29]:
# Otra opciÃ³n para poder meter esos 5 en una variable: 

top_5_pokemon = df_bis.sort_values(by='A/D Ratio', ascending=False).head(5)
top_5_pokemon

,#,Name,type_1,type_2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo_type,Combi_type,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,NaN,Psychic,800.0
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,Water Dark,Water-Dark,799.0
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,Bug Poison,Bug-Poison,798.0
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,NaN,Rock,797.0
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,Water Dark,Water-Dark,795.0

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [31]:
# your code here
combo_types_top_5 = top_5_pokemon['Combi_type'].unique().tolist()
print(combo_types_top_5)

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [34]:
# your code here    # PENDIENTE
top_5_pokemon.groupby('Combi_type').mean()

TypeError: Could not convert CaterpieMetapodPinsirPinecoWurmpleSilcoonCascoonVolbeatIllumiseKricketotKricketuneBurmyKarrablastShelmetAccelgorScatterbugSpewpa to numeric